@import url(/styles/apresentacao.css);
@import url(/styles/header.css);

:root {
  --cor-principal: #250A7D;
  --cor-2: #7DB3C7;
  --cor-3: #7DB3C7;
  --cor-4: #334A52;
  --cor-preto: #000000;
  --cor-branco: #ffffff;
}




































